.clear {
    clear: both;
}
img[src*='#left'] {
    float: left;
    margin: 0 .6rem .8rem .3rem;
}
img[src*='#right'] {
    float: right;
    margin: 0 .3rem .8rem .6rem;
}
img[src*='#center'] {
    display: block;
    margin: 0 auto;
}

a[href^='http']:not(.dont)::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%234051b5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6' /%3E%3Cpath d='M11 13l9 -9' /%3E%3Cpath d='M15 4h5v5' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    margin-left: 0.1em;
}
ul#store-items {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
    li {
        list-style-type: none;
        margin: 0;
    }
    a {
        display: inline-block;
        width: 340px;
        height: 96px;
        border: 2px solid lightgray;
        border-radius: 10px;
    }
    a:hover {
        border: 2px solid darkgrey;
    }
}

span[class$='-icon'] {
    display: inline-block;
    vertical-align: -0.15rem;
    width: 1rem;
    height: 1rem; 
}
.adjustments-icon {
    background-image: url(icons.svg#tabler-adjustments);
}
.adjustments-search-icon {
    background-image: url(icons.svg#tabler-adjustments-search);
}
.check-icon {
    background-image: url(icons.svg#tabler-check);
}
.circle-dot-icon {
    background-image: url(icons.svg#tabler-circle-dot);
}
.info-icon {
    background-image: url(icons.svg#tabler-info-circle);
}
.settings-icon {
    background-image: url(icons.svg#tabler-settings);    
}
.square-rounded-chevron-down-icon {
    background-image: url(icons.svg#tabler-square-rounded-chevron-down);
}
.square-rounded-plus-icon {
    background-image: url(icons.svg#tabler-square-rounded-plus);
}
.square-rounded-minus-icon {
    background-image: url(icons.svg#tabler-square-rounded-minus);    
}
.stack-push-icon {
    background-image: url(icons.svg#tabler-stack-push);        
}
.stack-middle-icon {
    background-image: url(icons.svg#tabler-stack-middle);        
}
.stack-pop-icon {
    background-image: url(icons.svg#tabler-stack-pop);
}
.trash-icon {
    background-image: url(icons.svg#tabler-trash);    
}
.x-icon {
    background-image: url(icons.svg#tabler-x);    
}

div.map {
    position: relative;
    margin: 0 auto;
    div {
        position: absolute;
        color: indianred;
        font-size: 1.175em;
        font-weight: bold;
    }
}
div.map + ol {
    list-style: circled-alpha;
    li::marker {
        color: indianred;
        font-weight: bold;
        font-size: 1.175em;
    }
}
@counter-style circled-alpha {
    system: fixed;
    symbols: Ⓐ Ⓑ Ⓒ Ⓓ Ⓔ Ⓕ Ⓖ Ⓗ Ⓘ Ⓙ Ⓚ Ⓛ Ⓜ Ⓝ Ⓞ Ⓟ Ⓠ Ⓡ Ⓢ Ⓣ Ⓤ Ⓥ Ⓦ Ⓧ Ⓨ Ⓩ;
    suffix: " ";
}
.a, .b, .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q {
    font-weight: bold;
    font-size: 1.175em;
}
.a::before { content: "Ⓐ"; }
.b::before { content: "Ⓑ"; }
.c::before { content: "Ⓒ"; }
.d::before { content: "Ⓓ"; }
.e::before { content: "Ⓔ"; }
.f::before { content: "Ⓕ"; }
.g::before { content: "Ⓖ"; }
.h::before { content: "Ⓗ"; }
.i::before { content: "Ⓘ"; }
.j::before { content: "Ⓙ"; }
.k::before { content: "Ⓚ"; }
.l::before { content: "Ⓛ"; }

div.datatable {
    height: 331px;
    width: 597px;
    .a { top: 8%; left: 51.5%; }
    .b { top: 13%; left: 0.3%; }
    .c { top: 18.7%; left: 20%; }
    .d { top: 12.4%; left: 40.5%; }
    .e { top: 12.5%; left: 71%; }
    .f { top: 31.5%; left: 28%; }
    .g { top: 31.8%; left: 92.5%; }
    .h { top: 56.5%; left: 30%; }
    .i { top: 74%; left: 93%; }
    .j { top: 89.9%; left: 69.5%; }
}
div.application-settings {
    height: 283px;
    width: 516px;
    .a { top: 26.5%; left: -4.5%; }
    .b { top: 38.5%; left: -4.5%; }
    .c { top: 50%; left: -4.5%; }
    .d { top: 60.5%; left: -4.5%; }
    .e { top: 74%; left: -4.5%; }
}
div.behavior-settings {
    height: 303px;
    width: 463px;
    .a { top: 23.9%; left: 65.5%; }
    .b { top: 33.8%; left: 89%; }
    .c { top: 43.7%; left: 89.8%; }
    .d { top: 54%; left: 36%; }
    .e { top: 64.8%; left: 92.1%; }
    .f { top: 75%; left: 100.3%; }
}
div.columns-settings {
    height: 305px;
    width: 547px;
    .a { top: 19.2%; left: 4.5%; }
    .b { top: 55.2%; left: 1%; }
    .c { top: 55.2%; left: 33.5%; }
    .d { top: 55.2%; left: 51.5%; }
}
div.filters-settings {
    height: 404px;
    width: 480px;
    .a { top: 23.4%; left: .2%; }
    .b { top: 24.1%; left: 28%; }
    .c { top: 24.1%; left: 48%; }
    .d { top: 15%; left: 62%; }
    .e { top: 15%; left: 91.3%; }
    .f { top: 72.2%; left: 87%; }
    .g { top: 77%; left: 5.7%; }
}
div.import-settings {
    height: 490px;
    width: 541px;
    .a { top: 16%; left: 48%; }
    .b { top: 22.7%; left: 60.2%; }
    .c { top: 28.8%; left: 58.7%; }
    .d { top: 35.5%; left: 34.5%; }
    .e { top: 41.5%; left: 32%; }
    .f { top: 47.5%; left: 29%; }
    .g { top: 53.5%; left: 32%; }
    .h { top: 59.5%; left: 34%; }
    .i { top: 66%; left: 46%; }
    .j { top: 72.2%; left: 37.5%; }
    .k { top: 78.3%; left: 44%; }
    .l { top: 84.5%; left: 60%; }
}
div.export-settings {
    height: 371px;
    width: 519px;
    .a { top: 20.6%; left: 55.9%; }
    .b { top: 29.2%; left: 75%; }
    .c { top: 38%; left: 76.5%; }
    .d { top: 46.5%; left: 81.5%; }
    .e { top: 55%; left: 61.3%; }
    .f { top: 63.5%; left: 62.7%; }
    .g { top: 72%; left: 44.8%; }
    .h { top: 80%; left: 45%; }
}
